{% extends 'base.html.j2' %}

{%block title%}Logn{%endblock%}

{% block obsah %}

<h1>Login</h1>

<form method="post">
  <p>nick: <input type="text" name="nick" ></p>
  <p>heslo:<input type="password" name="passwd" ></p>
  <p><button type="submit">Přihlásit</button> </p>
</form>



{% endblock obsah %}
