{% extends 'base.html.j2' %}

{%block title%}Registrace{%endblock%}

{% block obsah %}

<h1>Registrace</h1>

<form method="post">
  <p>nick: <input type="text" name="nick" ></p>
  <p>heslo:<input type="password" name="passwd1" ></p>
  <p>heslo:<input type="password" name="passwd2" ></p>
  <p><button type="submit">Registruj mě!</button> </p>
</form>


{% endblock obsah %}
